.Cat
	&-h1
		font-size: 2rem
		text-align: center
		background: salmon
		text-transform: capitalize
		color grey-clear
	&-article
		width: 80%
		margin 4rem auto
		
		
	&-data
		display: flex 
		justify-content: space-between
		border-bottom 1px solid grey
		margin-bottom 1rem
		

	&-content
		display flex
		margin 4rem 0
		figure
			min-width: 100px
		
		.p 
			margin 0
			padding 0 1rem
			a
				color salmon
	&-navigation
		display: flex
		justify-content: space-around
		
		span
			display: block
			a
				color grey-clear
	h2
		a 
			color grey-clear
			display block
			font-size: 2rem
		
		