.Header
	color: grey-clear
	// margin-bottom 15rem
	&-title
		position: absolute
		// width 250px
		// margin-left 3rem
		// margin-top 2rem
		text-align: center
		top 4rem
		margin-left 2rem
		
		h2
			font-size: 2rem			
	&-h1
		font-size: 5rem
		font-family: 'fine'
		line-height: 0
		margin-bottom 2rem
		// padding-left 1.5rem
	
	&-icon
		position: absolute
		right 2rem
		top 2rem
		font-size: 2rem
		cursor pointer
	&-contentNav
		padding-top 11rem
	&-nav
		display none
		width 100%
		background-color black-clear
		ul
			display flex 
			justify-content: space-between
			padding 2rem
			

		li 
			list-style: none
		li:hover
			background-color transparent
			border-top 0px solid transparent	
			
		li:after
			content ''
			display block
			height 1px
			width 0
			background transparent
			transition width .5s ease, background-color .5s ease
			margin-top .3rem			
		// a
		// display inline-block		
		// a:after
		// 	content ''
		// 	display block
		// 	height 2px
		// 	width 0
		// 	background transparent
		// 	transition width .5s ease, background-color .5s ease
		// 	margin-top .3rem				
		li:hover:after
			width 100%
			background #9c4e4e
		

		a 
			text-decoration: none
			font-size: 1.2rem
			color grey
			
	

					
@media (max-width: 580px)

	.Header
		&-nav
			ul
				flex-direction: column	
				padding-bottom 0
			li 
				margin-bottom 2rem

// .height0
// 	animation 2s menu0 forwards
// .height100
// 	animation 2s menu100 forwards
		
// 	@keyframes menu100 {
// 	    from {
// 	        height: 0px
// 	    }
	    
// 	    to {
// 	        height: 250px
// 	    }	          
// 	}
	
// 	@keyframes menu0 {
// 	    from {
// 	        height: 250px
// 	    }
	    
// 	    to {
// 	        height: 0px
// 	    }	          
// 	}