.Index
	display: flex
	justify-content: space-between
	margin-top 6rem
	&-article
		height: 300px
		overflow: hidden
		position: relative
	&-title
		position: absolute
		top 250px
	figure
		margin 0
		
		
