.Index
	display: flex
	justify-content: space-between
	// flex-wrap: nowrap
	margin-top 3rem
	margin-left 2rem
	margin-right 2rem
	&-article
		height: 300px
		overflow: hidden
		position: relative
		cursor: pointer
		
	&-title
		position: absolute
		width: 100%
		top 250px
		padding 1rem
		background-color  alpha(grey, 0.7)
		font-family: arial
		overflow: hidden
	&-excerpt
		// width:  100%
		background-color alpha(#573223, 0.7)
		color grey
		display none
		font-size: 1.2rem
		font-style: italic
		height: 230px
		padding-left 1.5rem
		padding-right 1.5rem
		padding-top 20px
		position: absolute
		top 0
		overflow: hidden
	figure
		margin 0
		

@media (max-width: 770px)
	
	.Index
		&-excerpt		
			font-size: 1rem
			

@media (max-width: 580px)

	.Index
		flex-direction: column
		&-article
			margin 1rem auto
			width 270px
			
		