.Index
	display: flex
	justify-content: space-between
	margin-top 3rem
	margin-left 2rem
	margin-right 2rem
	&-article
		height: 300px
		overflow: hidden
		position: relative
		cursor: pointer
	&-title
		position: absolute
		width: 100%
		top 250px
		padding 1rem
		background-color  alpha(grey, 0.7)
		font-family: arial
	&-excerpt
		display none
		color #820b0b
		position: absolute
		top 0
		// width:  100%
		height: 200px
		padding-top 50px
		padding-left 1.5rem
		padding-right 1.5rem
		font-family: arial
		font-style: italic
		font-size: 1.2rem
		background-color alpha(#d0b5b5, 0.7)
	figure
		margin 0
		
		
