.Logo
	position: absolute	
	text-align: center
	top 4rem
	margin-left 2rem					
	&-h1
		font-size: 5rem
		font-family: 'fine'
		line-height: 0
		margin-bottom 2rem
	h2
		font-size: 2rem
	a 
		color grey-clear