.RecentPosts
	margin-bottom 3rem
	margin-top 3rem
	h3
		color salmon
		font-size: 2rem	
		margin-left 1rem	
	&-content		
		a
			display: block
			border-bottom 1px solid salmon
			display flex
			justify-content: space-between
			padding: 1rem
			color grey-clear
			small 				
				display block
		a:hover
			background-color alpha(salmon, 0.3)		
	&-title
		text-align: right
		
			
	