.Sidebar
	display flex
	width 30vw
	overflow-y: scroll
	transition: .5s
	position: absolute
	right: calc(-30vw + 20px)
	top 0
	background-color black
	
	height: 100%
	&-content
		width 100%
		position relative
		overflow-y: scroll	
		border-bottom 5px solid salmon
	li				
		a
			display: block
			color grey-clear
			border-bottom 1px solid salmon
			padding: 1rem
		a:hover
			background-color alpha(salmon, 0.3)		
		h2
			font-size: 2rem
			color: salmon
			margin-left 1rem
	&-slide
		width 1.5rem
		background grey-clear
		position: relative

		div
			width 1rem
			background #9c4e4e
			margin-left: auto
			height 100%
			box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.75)
			position absolute
			top 0
			right 0
	&-list
		a
			background-color alpha(salmon, 0.3)			
		a:hover
			padding-left 1.5rem
			transition: .2s
.slide-menu
	right 0 !important
	overflow hidden
// .x
// 	position fixed
// 	top 0
// 	right 0
// 	font-size: 1.5rem
// 	padding: 0 1rem 0 .5rem
// 	// border 1px solid salmon
// 	color: grey
// 	background-color salmon
// 	z-index: 30
	// margin-right 1rem
	

@media (max-width: 880px)

	.Sidebar		
		width 80vw
		right: calc(-80vw + 20px)

		