.Sidebar
	display flex
	li				
		a
			display: block
			color grey-clear
			border-bottom 1px solid salmon
			padding: 1rem
		a:hover
			background-color alpha(salmon, 0.3)
	&-content
		width 0
		overflow: hidden
		transition: .5s
		h2
			font-size: 2rem
			color: salmon
			margin-left 1rem
		.width3
			width 300px
	&-slide
		width 1.5rem
		background grey-clear
		position: relative
		div
			width 1rem
			background #9c4e4e
			margin-left: auto
			height 100%
			box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.75)
			position absolute
			top 0
			right 0
	&-list
		// li
		// 	border-bottom 1px solid black
		a
			background-color alpha(salmon, 0.3)
			
		a:hover
			padding-left 1.5rem
			transition: .2s


			// z-index: 400

.width3
	width 300px