.Single
	&-container
		display: flex
		align-items: strech
		// padding-left 4rem
		// background-color black
		// width 100%
		// position: absolute
		// background-color #1c0f0f
	&-post 
		margin 0 auto
	&-article
		color grey
		// width 100%
		margin 0 auto	
	&-title
		font-size: 4em
		color #9c4e4e
		text-align: center
		padding 3rem 0
	&-logo
		color grey
		position: absolute
		top 3rem
		left 2rem
		font-size: 1em
	&-content
		width 70%
		margin: 0 auto
	figure 
		text-align: center
