
	
.Single
	// position relative
	// overflow hidden
	margin-bottom 4rem
	max-width: 100hv
	&-post 
		margin 0 auto
		transition: .5s

	&-article
		color grey
		// width 100%
		margin 0 auto
		padding-right 20px
		// transition: .5s

	&-title
		font-size: 4em
		color #9c4e4e
		text-align: center
		padding 3rem 0
	&-logo
		color grey
		position: absolute
		top 3rem
		left 2rem
		font-size: 1em
		
	&-content
		width 70%
		margin: 0 auto
		transition: .5s

	&-data
		display flex 
		justify-content: space-between
		border-bottom 1px solid salmon
		margin-top 2rem
		margin-bottom 4rem
		padding-bottom 5px
		color salmon
		&--footer
			justify-content: flex-start
			a 
				font-size: .8rem
				margin-left .2rem
				font-style: italic
				color grey
		
	&-comments
		input
		textarea 
			background-color alpha(grey, 0.3)
			border 0
			max-width: 90%
	figure 
		text-align: center



@media (max-width: 880px)
	.Single
		transition: .5s
		&-title
			font-size: 2em
			padding-top 6rem
		&-logo
			position: relative
			top 3rem
			left 0
			right: 0
			font-size: 1em
			margin-left: auto;
			margin-right: auto;
			h2
				text-align: center
		&-content
			width 90%
			transition: .5s
		


	// .respo-post			
	// 	// width 5%
	// 	height: 100%
	// 	overflow: hidden
	// 	transition: .5s
	// 	transform: translate3D(-80vw, 0, 0)
	

