.Single
	display: flex
	padding-left 4rem
	background-color black
	width 100%
	position: absolute
	// background-color #1c0f0f
	&-article
		color grey
		width 100%
		margin 0 auto	
	&-title
		font-size: 4em
		color #9c4e4e
		text-align: center
		padding 3rem 0
	&-logo
		color grey
		position: absolute
		top 3rem
		left 2rem
		font-size: 1em
	figure 
		text-align: center
.Post-sidebar
	width 0
	overflow: hidden
	background #9c4e4e