/*! Theme Name: Fina
Theme URI: http://aguja2013.com
Author: Agustin Palmieri
Author URI: agustinpalmieri.com
Description: Fina Theme
Version: 1.0.0*/

black = #010101
black-clear = #1d1d1d
grey = #a3a3a3
grey-clear = #b6b6b6
salmon = #9c4e4e


@import "nib"	
@import "general.styl"
@import "normalize.styl"
@import "header.styl"
@import "fonts.styl"
@import "index.styl"
@import "footer.styl"
@import "single.styl"
@import "sidebar.styl"
@import "recent-posts.styl"